<h1 class="title">Articles</h1>


<div class="article-index-container">
  <% @articles.each do |article| %>



    <div class="article-index-photo-P">
      <p class="article-index-p"><%= link_to article.title, article %></p>
      <%= image_tag article.photo_url, class:"article-index-photo"%>
    </div>


  <% end %>
</div>

  <div class="submit-story"><%= link_to "Submit your story", new_article_path %></div>
