<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="welcome">
    <div class="welcome-logo">

        <div class="welcome-img">
          <img src="http://i.imgur.com/0qdjhbR.png"/>

        </div>

        <div class="welcome-img">

          <img src="http://files1.porsche.com/filestore/image/multimedia/none/rd-2014-porscheclassic-models-roadvehicles-911g-teaser/normal/8144464b-f0f0-11e5-84b6-0019999cd470/porsche-normal.jpg">
        </div>
    </div>

  </body>
</html>
