/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #F2F4F2;
}
a {
  text-decoration: none;
}

.navbar {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #A6A8A6;
  align-items: center;
  justify-content: space-around;

}
.nav-content {
padding-right: 20px;
width: 100px;
text-align: center;
font-family: 'Lato', sans-serif;
}

.logo-img{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;

}

.article-index-container{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;


}

.article-index-photo {
  width: 400px;
}

.article-index-photo-P {
  padding: 20px;
}
.article-title {
  text-align: center;
}

.submit-story {
  text-align: center;
}

.article-show-title {
  text-align: center;
}
.article-show-p {
  text-align: center;
}
.article-show-time {
  text-align: left;
}
.article-show-edit {
  text-align: center;
}
.article-show-comment {
text-align: center;
}
.article-show-write-comment {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  flex-wrap: wrap;
  }

.left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    }

.right-column {
  display: flex;
  flex-direction: column;
  }


  .form-row {
  margin-bottom: 10px;

  }
  .form-row label {
  padding: 10px;

  }

  .form-row input {
    width: 100%;
    padding: 10px;
  }

  .form-row input[type=submit] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}
/*views for article above*/
