body {
  background-color: #ffffff;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}



.nav-content, .back {
  text-decoration: none;
  font-size: 14px;
  color: white;
  margin-right: 70px;
  font-family: "Helvetica Neue";
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 14px;

  /*margin: 20px;*/
}

.article-index-photo {
  width: 400px;
  height: 350px;
}


.navbar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: black;

}


.article-index-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-photo{
  padding: 7px;
  height: 500px;
  width: 400px;
  margin: 0px;


}

.title {
  text-align: center;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}


.article-show-p{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-top: 57px;

}

.article-show-time, .by {
  text-align: center;
}

.article-show-edit {
  text-align: center;
}

.article-show-comment {
  text-align: center;
}

.article-show-write-comment {
  text-align: center;
}

.form-row, .control-label .email .required {
  margin-bottom: 10px;
}

.form-row label {
  padding: 10px;
}

.form-row input{
  width: 100%;
  padding: 10px;
}

.text_area {
  width: 100%;
  height: 100px;
}

.form-row input[type=submit], .back, .article-show-edit  {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 160px;
  float: left;
  margin-right: 10px;
}

form {
  width: 40%;
  margin: auto;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  /*background-color: #2098D1;*/
  color: red;
}

a:link {
  text-decoration: none;
  color: #392e2c;
  color: inherit;
}

.article-title{
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-stretch: expanded;
  font-weight: lighter;
  width: 400px;
  height: 50px;
  font-weight: 100;
  text-align: center;
}

.article-show-photo {
width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 3px -1px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -1px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -1px 23px 0px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
}

.show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.submit-story {
  background-color: #337ab7;
  border-color: #2e6da4;
  margin: 0 auto;
  padding: 20px;
}

.article-show-edit, .article-show-write-comment {
  margin: 0 auto;
  margin-top: 20px;
}

.cars-index {
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
}

th, td {
  width: 20px;
  text-align: center;
  border-collapse: collapse;
}

.article-phot {
  display: flex;
  flex-direction: column;
}

.car-show {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.for-sale {
  width: 70%;
  height: 70%;
}

.ad {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-top: 50px;
}

.ad-title {
  font-family: 'Nunito', sans-serif;
  max-width: 600px;
  color: #525349;
  line-height: 1.5;
  letter-spacing: .04em;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 2em;
}

.car-ad-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-ad-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-ad-lower {
  display: flex;
  justify-content: center;
}

.car-ad-img img {
  width: 700px;
  margin: 0 auto;
}

.welcome-logo img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 164px;
  height: 175px;
}

.welcome{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.nav-logo {
  width: 170px;
  padding-right: 40px;
}

.submit {
  text-align: center;
}

.category-notice{
  text-align: center;
}
.notice, .alert, .devise-h2 {
  text-align: center;
}
.simple_form .new_user {
  text-align: center;
}

.sign-up-sign-in {
  text-align: center;
}

.car-info {
  padding:40px;
  font-family: lato;
  font-weight: 300;
  color: red;
  display: inline-block;
  margin: 0 auto;
}

.car-info-container {
  text-align: center;
}

.show-back{
  text-align: center;
}

.all-buttons {
  font-size: 18px;
  color: white;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-right: 20px;
  font-size: 24px;;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
}

.comment-container {
  text-align: left;
  margin-top: 50px;
}

.comment {
  background-color: #d15d1f;
  padding: 10px;
  border-radius: 5px;
}
.car-new-div {
  text-align: center;
}
.comment-container-show{
  text-align: center;
}
.article-show-p .commenter {
  text-align:
}

.white {
  color: white;
}
/*views for article above*/
