/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
  align-items: center;
  justify-content: space-around;

}
.nav-content {
background-color: yellow;
padding-right: 20px;
width: 100px;
text-align: center;
}

.logo-img{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;

}

.article-index-container{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;


}

.article-index-photo {
  width: 400px;
}

.article-index-photo-P {
  padding: 20px;
}
.article-title {
  text-align: center;
}

.submit-story {
  text-align: center;
}

.article-show-title {
  text-align: center;
}
.article-show-p {
  text-align: center;
}
.article-show-time {
  text-align: left;
}
.article-show-edit {
  text-align: center;
}
.article-show-comment {
text-align: center;
}
.article-show-write-comment {
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  }

}
.left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100px;
  }
.right-column {
  display: flex;
  flex-direction: column;
  }

/*views for article above*/
