<h1>Editing Car</h1>

<%= render 'form', car: @car %>
<div class="show-back">

  <%= link_to 'Show', @car, class:"nav-content hvr-fade" %> |
  <%= link_to 'Back', cars_path, class:"nav-content hvr-fade" %>
</div>
